---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=2129%20Crosspoint%20Ave,%20Santa%20Rosa,%20CA,%2095403&key=fakekey&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "2129",
                       "short_name" : "2129",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Crosspoint Avenue",
                       "short_name" : "Crosspoint Ave",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Santa Rosa",
                       "short_name" : "Santa Rosa",
                       "types" : [ "locality", "political" ]
                    },
                    {
                     [...]
