---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=123%20N.%208th%20St%20Apt%201,%20Brooklyn,%20NY,%2011249&key=fakekey&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1",
                       "short_name" : "1",
                       "types" : [ "subpremise" ]
                    },
                    {
                       "long_name" : "123",
                       "short_name" : "123",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "North 8th Street",
                       "short_name" : "N 8th St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Williamsburg",
[...]
